In [1]:
#doing things with data
import pandas as pd
import itertools
import numpy as np
import scipy.stats as stats
from scipy.stats import pearsonr

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer
#import r2
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings("ignore")

In [2]:
#import features completed by andy
andy = pd.read_excel('output.xlsx')
andy

,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,gdp_deflated,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,131.420,...,75.747391,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2
1,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,130.800,...,79.256522,891.622,232,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7,2
2,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,129.508,...,81.503182,893.875,283,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7,5
3,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,128.269,...,90.608182,905.137,535,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7,5
4,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,126.907,...,117.692727,910.009,90,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,83.895,...,33.424348,429.896,131,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2,9
78,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,83.306,...,29.743478,416.504,111,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2,2
79,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,82.796,...,27.044091,405.039,523,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2,2
80,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,82.328,...,27.566667,395.267,443,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2,2
81,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,82.045,...,30.168095,387.963,497,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2,2

In [3]:
#import features completed by corey
corey = pd.read_csv('ford_adjusted_revenue.csv')
corey

    year  quarter  adjusted_revenue_B
0   2023        2                 NaN
1   2023        1           41.919686
2   2022        4           45.232250
3   2022        3           40.491643
4   2022        2           41.383312
..   ...      ...                 ...
77  2004        1           72.809362
78  2003        4           79.546866
79  2003        3           60.527563
80  2003        2           67.399691
81  2003        1           67.614275

[82 rows x 3 columns]

In [4]:
#combine the features from the two dataframes
combine = pd.concat([andy, corey.adjusted_revenue_B], axis=1)
combine

,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,gdp_deflated,...,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started,adjusted_revenue_B
0,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,131.420,...,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2,NaN
1,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,130.800,...,891.622,232,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7,2,41.919686
2,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,129.508,...,893.875,283,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7,5,45.232250
3,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,128.269,...,905.137,535,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7,5,40.491643
4,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,126.907,...,910.009,90,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7,5,41.383312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,83.895,...,429.896,131,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2,9,72.809362
78,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,83.306,...,416.504,111,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2,2,79.546866
79,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,82.796,...,405.039,523,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2,2,60.527563
80,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,82.328,...,395.267,443,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2,2,67.399691
81,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,82.045,...,387.963,497,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2,2,67.614275

In [5]:
# Identify the column to be moved
column_to_move = 'adjusted_revenue_B'

# Create a list of column names with the desired order
new_column_order = [column_to_move] + [col for col in combine.columns if col != column_to_move]

# Reindex the DataFrame with the new column order
df = combine[new_column_order]

In [6]:
#check it out
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,NaN,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,...,75.747391,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2
1,41.919686,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,891.622,232,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7,2
2,45.232250,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,893.875,283,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7,5
3,40.491643,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,905.137,535,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7,5
4,41.383312,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,910.009,90,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,72.809362,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,...,33.424348,429.896,131,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2,9
78,79.546866,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,416.504,111,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2,2
79,60.527563,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,405.039,523,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2,2
80,67.399691,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,395.267,443,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2,2
81,67.614275,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,387.963,497,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2,2

In [7]:
def adjust_for_inflation(data, adjusted_cols, cpi_col):
    for col in adjusted_cols:
        data[col] = data[col] * (data[cpi_col].max() / data[cpi_col])
    return data

In [8]:
adjusted_col = ['government_spending','median_house_income', 'dow','s_and_p', 
                's_and_p','construction_res', 'brent_oil', 'wti', 'soy','c_e_s_housing',
                'c_e_s_health','c_e_s_entertainment']

In [9]:
df = adjust_for_inflation(df, adjusted_col, 'cpi_all_items_avg')

In [10]:
# lag total revenue 1 period behind
df['adjusted_revenue_B'] = df['adjusted_revenue_B'].shift(1)
df.head()

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,NaN,2023,2,334.83,81340.000000,4.65,3.6,6.69200,66.3,6783.445000,...,75.747391,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2
1,NaN,2023,1,334.44,82222.021429,5.08,3.5,8.48692,66.0,6512.501649,...,80.115951,891.622,232,97.343637,98.946783,23906.912839,5751.208898,3373.021464,7,2
2,41.919686,2022,4,334.11,81628.790537,4.10,3.5,9.94494,65.9,6403.986018,...,83.785733,893.875,283,96.831203,99.187750,24111.337914,5802.886035,3415.686364,7,5
3,45.232250,2022,3,333.64,80793.111557,2.56,3.5,11.71485,66.0,6233.072139,...,93.142273,905.137,535,96.364630,99.728723,23908.986867,5756.706166,3400.958279,7,5
4,40.491643,2022,2,333.13,80193.425249,2.40,3.6,12.53299,65.8,6111.421484,...,121.187233,910.009,90,96.548767,100.379633,23747.293853,5720.319938,3392.036692,7,5

In [11]:
#drop quarter 2 2023
df = df.drop(0)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023,1,334.440000,82222.021429,5.08,3.5,8.48692,66.0,6512.501649,...,80.115951,891.622,232,97.343637,98.946783,23906.912839,5751.208898,3373.021464,7,2
2,41.919686,2022,4,334.110000,81628.790537,4.10,3.5,9.94494,65.9,6403.986018,...,83.785733,893.875,283,96.831203,99.187750,24111.337914,5802.886035,3415.686364,7,5
3,45.232250,2022,3,333.640000,80793.111557,2.56,3.5,11.71485,66.0,6233.072139,...,93.142273,905.137,535,96.364630,99.728723,23908.986867,5756.706166,3400.958279,7,5
4,40.491643,2022,2,333.130000,80193.425249,2.40,3.6,12.53299,65.8,6111.421484,...,121.187233,910.009,90,96.548767,100.379633,23747.293853,5720.319938,3392.036692,7,5
5,41.383312,2022,1,332.740000,80164.549888,2.39,3.6,12.11522,65.4,6252.364765,...,119.325143,872.642,233,97.379660,101.000767,24266.758737,5848.096021,3480.869634,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004,1,292.144396,103784.275374,1.00,5.8,7.54008,68.6,3876.610103,...,54.418726,429.896,131,101.281200,102.121033,22660.123063,4190.771430,3611.162017,2,9
78,72.809362,2003,4,291.468297,105897.489978,0.98,5.7,7.73520,68.6,3880.794442,...,49.240385,416.504,111,100.826700,101.512533,22236.701508,3999.692588,3410.333912,2,2
79,79.546866,2003,3,290.792198,105382.869347,1.01,6.1,8.47832,68.4,3805.002477,...,44.553972,405.039,523,100.429600,100.183160,22128.639784,3980.255637,3393.761015,2,2
80,60.527563,2003,2,290.116099,106243.371818,1.22,6.3,8.24878,68.0,3819.956375,...,45.785727,395.267,443,100.249137,99.058023,22309.330909,4012.756364,3421.472727,2,2
81,67.399691,2003,1,289.440000,105954.980472,1.24,5.9,8.92521,68.0,3677.643423,...,49.970453,387.963,497,99.462693,99.180970,22248.773550,4001.863974,3412.185342,2,2

In [12]:
#check it out
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023,1,334.440000,82222.021429,5.08,3.5,8.48692,66.0,6512.501649,...,80.115951,891.622,232,97.343637,98.946783,23906.912839,5751.208898,3373.021464,7,2
2,41.919686,2022,4,334.110000,81628.790537,4.10,3.5,9.94494,65.9,6403.986018,...,83.785733,893.875,283,96.831203,99.187750,24111.337914,5802.886035,3415.686364,7,5
3,45.232250,2022,3,333.640000,80793.111557,2.56,3.5,11.71485,66.0,6233.072139,...,93.142273,905.137,535,96.364630,99.728723,23908.986867,5756.706166,3400.958279,7,5
4,40.491643,2022,2,333.130000,80193.425249,2.40,3.6,12.53299,65.8,6111.421484,...,121.187233,910.009,90,96.548767,100.379633,23747.293853,5720.319938,3392.036692,7,5
5,41.383312,2022,1,332.740000,80164.549888,2.39,3.6,12.11522,65.4,6252.364765,...,119.325143,872.642,233,97.379660,101.000767,24266.758737,5848.096021,3480.869634,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004,1,292.144396,103784.275374,1.00,5.8,7.54008,68.6,3876.610103,...,54.418726,429.896,131,101.281200,102.121033,22660.123063,4190.771430,3611.162017,2,9
78,72.809362,2003,4,291.468297,105897.489978,0.98,5.7,7.73520,68.6,3880.794442,...,49.240385,416.504,111,100.826700,101.512533,22236.701508,3999.692588,3410.333912,2,2
79,79.546866,2003,3,290.792198,105382.869347,1.01,6.1,8.47832,68.4,3805.002477,...,44.553972,405.039,523,100.429600,100.183160,22128.639784,3980.255637,3393.761015,2,2
80,60.527563,2003,2,290.116099,106243.371818,1.22,6.3,8.24878,68.0,3819.956375,...,45.785727,395.267,443,100.249137,99.058023,22309.330909,4012.756364,3421.472727,2,2
81,67.399691,2003,1,289.440000,105954.980472,1.24,5.9,8.92521,68.0,3677.643423,...,49.970453,387.963,497,99.462693,99.180970,22248.773550,4001.863974,3412.185342,2,2

In [14]:
#check for nulls
df.isnull().sum()

adjusted_revenue_B           1
year                         0
quarter                      0
population                   0
median_house_income          0
federal_fund_rate            0
unemp_rate                   0
misery_index                 0
home_ownership_rate          0
government_spending          0
gdp_deflated                 0
p_election                   0
midterm_election             0
violent_crime_rate           0
cpi_all_items_avg            0
avg_temperature              0
avg_precipitation            0
palmer_drought_index         0
eci                          0
dow                          0
s_and_p                      0
gas_perc_change              0
prime                        0
gini                         0
Man_new_order                0
hdi                          0
construction_res             0
cli                          0
auto_loan                    0
velocity_of_money            0
loans_and_leases             0
wti                          0
soy                          0
brent_oil                    0
case_shiller_index           0
number_of_disaster           0
consumer_confidence_index    0
business_confidence_index    0
c_e_s_housing                0
c_e_s_health                 0
c_e_s_entertainment          0
ease_of_doing_business       0
wars_started                 0
dtype: int64

In [15]:
#check it out
df.head()

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023,1,334.44,82222.021429,5.08,3.5,8.48692,66.0,6512.501649,...,80.115951,891.622,232,97.343637,98.946783,23906.912839,5751.208898,3373.021464,7,2
2,41.919686,2022,4,334.11,81628.790537,4.10,3.5,9.94494,65.9,6403.986018,...,83.785733,893.875,283,96.831203,99.187750,24111.337914,5802.886035,3415.686364,7,5
3,45.232250,2022,3,333.64,80793.111557,2.56,3.5,11.71485,66.0,6233.072139,...,93.142273,905.137,535,96.364630,99.728723,23908.986867,5756.706166,3400.958279,7,5
4,40.491643,2022,2,333.13,80193.425249,2.40,3.6,12.53299,65.8,6111.421484,...,121.187233,910.009,90,96.548767,100.379633,23747.293853,5720.319938,3392.036692,7,5
5,41.383312,2022,1,332.74,80164.549888,2.39,3.6,12.11522,65.4,6252.364765,...,119.325143,872.642,233,97.379660,101.000767,24266.758737,5848.096021,3480.869634,7,5

In [16]:
# create data frame to remove final prediction data
new_df = df.head(1)

In [17]:
#check it out
new_df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023,1,334.44,82222.021429,5.08,3.5,8.48692,66.0,6512.501649,...,80.115951,891.622,232,97.343637,98.946783,23906.912839,5751.208898,3373.021464,7,2

In [18]:
# drop the newdf 1 liner from the main df
df = df.drop(1)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
2,41.919686,2022,4,334.110000,81628.790537,4.10,3.5,9.94494,65.9,6403.986018,...,83.785733,893.875,283,96.831203,99.187750,24111.337914,5802.886035,3415.686364,7,5
3,45.232250,2022,3,333.640000,80793.111557,2.56,3.5,11.71485,66.0,6233.072139,...,93.142273,905.137,535,96.364630,99.728723,23908.986867,5756.706166,3400.958279,7,5
4,40.491643,2022,2,333.130000,80193.425249,2.40,3.6,12.53299,65.8,6111.421484,...,121.187233,910.009,90,96.548767,100.379633,23747.293853,5720.319938,3392.036692,7,5
5,41.383312,2022,1,332.740000,80164.549888,2.39,3.6,12.11522,65.4,6252.364765,...,119.325143,872.642,233,97.379660,101.000767,24266.758737,5848.096021,3480.869634,7,5
6,36.591346,2021,4,332.590000,77462.986119,2.27,3.9,11.09446,65.5,6653.420897,...,81.724699,832.077,179,98.018177,101.525000,24758.739234,5966.435922,3505.226386,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004,1,292.144396,103784.275374,1.00,5.8,7.54008,68.6,3876.610103,...,54.418726,429.896,131,101.281200,102.121033,22660.123063,4190.771430,3611.162017,2,9
78,72.809362,2003,4,291.468297,105897.489978,0.98,5.7,7.73520,68.6,3880.794442,...,49.240385,416.504,111,100.826700,101.512533,22236.701508,3999.692588,3410.333912,2,2
79,79.546866,2003,3,290.792198,105382.869347,1.01,6.1,8.47832,68.4,3805.002477,...,44.553972,405.039,523,100.429600,100.183160,22128.639784,3980.255637,3393.761015,2,2
80,60.527563,2003,2,290.116099,106243.371818,1.22,6.3,8.24878,68.0,3819.956375,...,45.785727,395.267,443,100.249137,99.058023,22309.330909,4012.756364,3421.472727,2,2
81,67.399691,2003,1,289.440000,105954.980472,1.24,5.9,8.92521,68.0,3677.643423,...,49.970453,387.963,497,99.462693,99.180970,22248.773550,4001.863974,3412.185342,2,2

In [ ]:
df

In [19]:
#create 1 liner final prediction .csv
new_df.to_csv('values_for_prediction_ford_adjusted.csv', index=False)

In [20]:
# Convert DataFrame to CSV, to save progress thus far
df.to_csv('entire_df_ford_adjusted.csv', index=False)