In [1]:
#doing things with data
import pandas as pd
import itertools
import numpy as np
import scipy.stats as stats
from scipy.stats import pearsonr

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import QuantileTransformer
#import r2
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings("ignore")

In [2]:
#import features completed by andy
andy = pd.read_excel('output.xlsx')
andy

,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,gdp_deflated,...,Man_new_order,hdi,construction_res,cli,auto_loan,velocity_of_money,loans_and_leases,wti,soy,brent_oil
0,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,131.420,...,62535,0.921,867630,98.812741,7.59,1.261,3.2,71.673478,508.345096,75.747391
1,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,130.800,...,61349,0.921,856947,98.902607,7.46,1.222,2.1,73.348261,547.225522,79.256522
2,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,129.508,...,61080,0.921,863102,99.026999,6.94,1.189,7.8,76.581818,541.831786,81.503182
3,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,128.269,...,60604,0.921,900993,99.277920,5.52,1.165,11.8,84.400000,537.551980,90.608182
4,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,126.907,...,59252,0.921,965400,99.813464,5.15,1.145,14.3,114.675909,621.198178,117.692727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,83.895,...,43759,0.898,511829,100.995446,6.72,1.940,8.3,36.760870,360.675360,33.424348
78,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,83.306,...,41514,0.895,508637,100.592657,6.82,1.905,-16.0,32.204348,283.185366,29.743478
79,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,82.796,...,43200,0.895,463954,99.601905,6.76,1.901,4.5,28.451364,231.699648,27.044091
80,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,82.328,...,40276,0.895,436163,98.603295,7.05,1.915,22.7,30.724762,229.774978,27.566667
81,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,82.045,...,40556,0.895,418232,98.023498,7.11,1.927,-8.6,33.219048,210.222081,30.168095

In [3]:
#import features completed by corey
corey = pd.read_csv('ford_adjusted_revenue.csv')
corey

    year  quarter  adjusted_revenue_B
0   2023        2                 NaN
1   2023        1           41.919686
2   2022        4           45.232250
3   2022        3           40.491643
4   2022        2           41.383312
..   ...      ...                 ...
77  2004        1           72.809362
78  2003        4           79.546866
79  2003        3           60.527563
80  2003        2           67.399691
81  2003        1           67.614275

[82 rows x 3 columns]

In [5]:
#combine the features from the two dataframes
combine = pd.concat([andy, corey.adjusted_revenue_B], axis=1)
combine

,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,gdp_deflated,...,hdi,construction_res,cli,auto_loan,velocity_of_money,loans_and_leases,wti,soy,brent_oil,adjusted_revenue_B
0,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,131.420,...,0.921,867630,98.812741,7.59,1.261,3.2,71.673478,508.345096,75.747391,NaN
1,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,130.800,...,0.921,856947,98.902607,7.46,1.222,2.1,73.348261,547.225522,79.256522,41.919686
2,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,129.508,...,0.921,863102,99.026999,6.94,1.189,7.8,76.581818,541.831786,81.503182,45.232250
3,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,128.269,...,0.921,900993,99.277920,5.52,1.165,11.8,84.400000,537.551980,90.608182,40.491643
4,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,126.907,...,0.921,965400,99.813464,5.15,1.145,14.3,114.675909,621.198178,117.692727,41.383312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,83.895,...,0.898,511829,100.995446,6.72,1.940,8.3,36.760870,360.675360,33.424348,72.809362
78,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,83.306,...,0.895,508637,100.592657,6.82,1.905,-16.0,32.204348,283.185366,29.743478,79.546866
79,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,82.796,...,0.895,463954,99.601905,6.76,1.901,4.5,28.451364,231.699648,27.044091,60.527563
80,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,82.328,...,0.895,436163,98.603295,7.05,1.915,22.7,30.724762,229.774978,27.566667,67.399691
81,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,82.045,...,0.895,418232,98.023498,7.11,1.927,-8.6,33.219048,210.222081,30.168095,67.614275

In [6]:
# Identify the column to be moved
column_to_move = 'adjusted_revenue_B'

# Create a list of column names with the desired order
new_column_order = [column_to_move] + [col for col in combine.columns if col != column_to_move]

# Reindex the DataFrame with the new column order
df = combine[new_column_order]

In [7]:
#check it out
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,Man_new_order,hdi,construction_res,cli,auto_loan,velocity_of_money,loans_and_leases,wti,soy,brent_oil
0,NaN,2023,2,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,...,62535,0.921,867630,98.812741,7.59,1.261,3.2,71.673478,508.345096,75.747391
1,41.919686,2023,1,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,61349,0.921,856947,98.902607,7.46,1.222,2.1,73.348261,547.225522,79.256522
2,45.232250,2022,4,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,61080,0.921,863102,99.026999,6.94,1.189,7.8,76.581818,541.831786,81.503182
3,40.491643,2022,3,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,60604,0.921,900993,99.277920,5.52,1.165,11.8,84.400000,537.551980,90.608182
4,41.383312,2022,2,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,59252,0.921,965400,99.813464,5.15,1.145,14.3,114.675909,621.198178,117.692727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,72.809362,2004,1,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,...,43759,0.898,511829,100.995446,6.72,1.940,8.3,36.760870,360.675360,33.424348
78,79.546866,2003,4,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,41514,0.895,508637,100.592657,6.82,1.905,-16.0,32.204348,283.185366,29.743478
79,60.527563,2003,3,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,43200,0.895,463954,99.601905,6.76,1.901,4.5,28.451364,231.699648,27.044091
80,67.399691,2003,2,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,40276,0.895,436163,98.603295,7.05,1.915,22.7,30.724762,229.774978,27.566667
81,67.614275,2003,1,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,40556,0.895,418232,98.023498,7.11,1.927,-8.6,33.219048,210.222081,30.168095

In [8]:
# import features from oliver
oliver = pd.read_excel('df_master.xls')
oliver

,Unnamed: 0,year,quarter,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,0,2023,2,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2
1,1,2023,1,891.622,232,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7,2
2,2,2022,4,893.875,283,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7,5
3,3,2022,3,905.137,535,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7,5
4,4,2022,2,910.009,90,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,2004,1,429.896,131,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2,9
78,78,2003,4,416.504,111,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2,2
79,79,2003,3,405.039,523,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2,2
80,80,2003,2,395.267,443,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2,2
81,81,2003,1,387.963,497,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2,2

In [9]:
# import features from oliver
oliver = oliver.drop(['Unnamed: 0'], axis=1)
oliver.index = range(1, len(df) + 1)
oliver.head()

,year,quarter,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,2023,2,299.715,299,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7,2
2,2023,1,891.622,232,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7,2
3,2022,4,893.875,283,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7,5
4,2022,3,905.137,535,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7,5
5,2022,2,910.009,90,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7,5

In [10]:
oliver.columns

Index(['year', 'quarter', 'case_shiller_index', 'number_of_disaster',
       'consumer_confidence_index', 'business_confidence_index',
       'c_e_s_housing', 'c_e_s_health', 'c_e_s_entertainment',
       'ease_of_doing_business', 'wars_started'],
      dtype='object')

In [11]:
# add olivers features to df
df = pd.concat([df, oliver[['case_shiller_index', 'number_of_disaster',
                            'consumer_confidence_index', 'business_confidence_index',
                            'c_e_s_housing', 'c_e_s_health', 'c_e_s_entertainment',
                            'ease_of_doing_business', 'wars_started']]], axis=1)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,NaN,2023.0,2.0,334.830000,81340.0,4.65,3.6,6.69200,66.3,6783.445,...,75.747391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41.919686,2023.0,1.0,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,45.232250,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,40.491643,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,41.383312,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,79.546866,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,60.527563,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,67.399691,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.614275,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,387.963,497.0,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2.0,2.0

In [12]:
# lag total revenue 1 period behind
df['adjusted_revenue_B'] = df['adjusted_revenue_B'].shift(1)
df.head()

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
0,NaN,2023.0,2.0,334.83,81340.0,4.65,3.6,6.69200,66.3,6783.445,...,75.747391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2023.0,1.0,334.44,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,41.919686,2022.0,4.0,334.11,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.64,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.13,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0

In [13]:
#drop quarter 2 2023
df = df.drop(0)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023.0,1.0,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,41.919686,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.740000,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,72.809362,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,79.546866,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,60.527563,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.399691,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0
82,67.614275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,387.963,497.0,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2.0,2.0

In [14]:
#check it out
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023.0,1.0,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,41.919686,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.740000,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,72.809362,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,79.546866,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,60.527563,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.399691,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0
82,67.614275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,387.963,497.0,99.462693,99.180970,13432.000000,2416.000000,2060.000000,2.0,2.0

In [15]:
df = df.drop(82)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023.0,1.0,334.440000,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,41.919686,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.740000,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004.0,1.0,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,...,33.424348,444.627,519.0,100.948700,102.042833,13918.000000,2574.000000,2218.000000,2.0,9.0
78,72.809362,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,79.546866,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,60.527563,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.399691,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0

In [16]:
#check for nulls
df.isnull().sum()

adjusted_revenue_B           1
year                         0
quarter                      0
population                   0
median_house_income          0
federal_fund_rate            0
unemp_rate                   0
misery_index                 0
home_ownership_rate          0
government_spending          0
gdp_deflated                 0
p_election                   0
midterm_election             0
violent_crime_rate           0
cpi_all_items_avg            0
avg_temperature              0
avg_precipitation            0
palmer_drought_index         0
eci                          0
dow                          0
s_and_p                      0
gas_perc_change              0
prime                        0
gini                         0
Man_new_order                0
hdi                          0
construction_res             0
cli                          0
auto_loan                    0
velocity_of_money            0
loans_and_leases             0
wti                          0
soy                          0
brent_oil                    0
case_shiller_index           0
number_of_disaster           0
consumer_confidence_index    0
business_confidence_index    0
c_e_s_housing                0
c_e_s_health                 0
c_e_s_entertainment          0
ease_of_doing_business       0
wars_started                 0
dtype: int64

In [17]:
#check it out
df.head()

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023.0,1.0,334.44,81340.0,5.08,3.5,8.48692,66.0,6442.640,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0
2,41.919686,2022.0,4.0,334.11,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.64,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.13,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.74,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0

In [18]:
# create data frame to remove final prediction data
new_df = df.head(1)

In [19]:
#check it out
new_df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
1,NaN,2023.0,1.0,334.44,81340.0,5.08,3.5,8.48692,66.0,6442.64,...,79.256522,299.715,299.0,97.155883,98.876057,23846.432353,5734.228134,3351.042242,7.0,2.0

In [20]:
# drop the newdf 1 liner from the main df
df = df.drop(1)
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
2,41.919686,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.740000,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0
6,36.591346,2021.0,4.0,332.590000,70784.0,2.27,3.9,11.09446,65.5,6079.752,...,74.678261,872.642,233.0,97.379660,101.000767,22866.550000,5510.656842,3280.021053,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004.0,1.0,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,...,33.424348,444.627,519.0,100.948700,102.042833,13918.000000,2574.000000,2218.000000,2.0,9.0
78,72.809362,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,79.546866,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,60.527563,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.399691,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0

In [21]:
df

,adjusted_revenue_B,year,quarter,population,median_house_income,federal_fund_rate,unemp_rate,misery_index,home_ownership_rate,government_spending,...,brent_oil,case_shiller_index,number_of_disaster,consumer_confidence_index,business_confidence_index,c_e_s_housing,c_e_s_health,c_e_s_entertainment,ease_of_doing_business,wars_started
2,41.919686,2022.0,4.0,334.110000,79405.0,4.10,3.5,9.94494,65.9,6229.524,...,81.503182,891.622,232.0,97.343637,98.946783,23650.455882,5689.513876,3336.838004,7.0,2.0
3,45.232250,2022.0,3.0,333.640000,78595.0,2.56,3.5,11.71485,66.0,6063.491,...,90.608182,893.875,283.0,96.831203,99.187750,23454.479412,5644.799617,3322.633766,7.0,5.0
4,40.491643,2022.0,2.0,333.130000,77881.0,2.40,3.6,12.53299,65.8,5935.195,...,117.692727,905.137,535.0,96.364630,99.728723,23258.502941,5600.085359,3308.429528,7.0,5.0
5,41.383312,2022.0,1.0,332.740000,75539.0,2.39,3.6,12.11522,65.4,5891.599,...,112.440000,910.009,90.0,96.548767,100.379633,23062.526471,5555.371100,3294.225290,7.0,5.0
6,36.591346,2021.0,4.0,332.590000,70784.0,2.27,3.9,11.09446,65.5,6079.752,...,74.678261,872.642,233.0,97.379660,101.000767,22866.550000,5510.656842,3280.021053,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,68.951096,2004.0,1.0,292.144396,63745.0,1.00,5.8,7.54008,68.6,2381.040,...,33.424348,444.627,519.0,100.948700,102.042833,13918.000000,2574.000000,2218.000000,2.0,9.0
78,72.809362,2003.0,4.0,291.468297,63967.0,0.98,5.7,7.73520,68.6,2344.180,...,29.743478,429.896,131.0,101.281200,102.121033,13918.000000,2574.000000,2218.000000,2.0,9.0
79,79.546866,2003.0,3.0,290.792198,63967.0,1.01,6.1,8.47832,68.4,2309.622,...,27.044091,416.504,111.0,100.826700,101.512533,13432.000000,2416.000000,2060.000000,2.0,2.0
80,60.527563,2003.0,2.0,290.116099,63967.0,1.22,6.3,8.24878,68.0,2299.919,...,27.566667,405.039,523.0,100.429600,100.183160,13432.000000,2416.000000,2060.000000,2.0,2.0
81,67.399691,2003.0,1.0,289.440000,63967.0,1.24,5.9,8.92521,68.0,2220.262,...,30.168095,395.267,443.0,100.249137,99.058023,13432.000000,2416.000000,2060.000000,2.0,2.0

In [22]:
#create 1 liner final prediction .csv
new_df.to_csv('values_for_prediction_ford_adjusted.csv', index=False)

In [23]:
# Convert DataFrame to CSV, to save progress thus far
df.to_csv('lets_do_this_ford_adjusted.csv', index=False)